.hidden {
    display: none;
}

.visible {
    display: block;
}

.tdmain {
    width: 150px;
    cursor: pointer;
    text-align: center;
    height: 150px;
    padding: 0 !important;
}

.tdmain:hover {
    background-color: aqua;
}

.tablemain {
    border: 2px solid black;
}

.full {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
